{% extends "admin/change_form.html" %}
{% load i18n static %}
{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
        <input type="submit" value="View Estimated Rations" name="_view-estimated-rations">
        <input type="submit" value="View Estimated Ingredients" name="_view-estimated-ingredients">
        <input type="submit" value="View Estimated Vegetables" name="_view-estimated-vegetables">
        <input type="submit" value="View Estimated Others" name="_view-estimated-others">
    </div>     
{% endblock %}
